# to run the command 'pulumi up' locally, you need to put the arn of your
# created AWS IAM Role with the following policies attached 
# (you may want to refer to the Readme.md):
# - AmazonEC2ContainerRegistryFullAccess
# - AmazonEC2FullAccess
# - AmazonECS_FullAccess
# - AmazonElasticContainerRegistryPublicFullAccess
# - IAMFullAccess

# also the AWS IAM username is needded, which is used for the execution of 
# the prefect flow (for which you provided the aws credentials to prefect)

AWS_IAM_ROLE_TO_ASSUME=
AWS_IAM_USER_NAME=